{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block 'contenido' %}

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<section class="content-header">
 </section>
 <section class="content">
    <form action="form_reporte_mensual" enctype="multipart/form-data" method="post">
        {% csrf_token %}
   <div class="container-fluid">
     <div class="row">
       <div class="col-12">
         <div class="card">
           <div class="card-header">
             <h3 class="card-title">Reporte de Ingresos Mensual</h3>
             <div class="card-tools">
               <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                 <i class="fas fa-minus"></i>
               </button>
               <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                 <i class="fas fa-times"></i>
               </button>
             </div>
           </div>
           <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label for="mes">Selecciona el Mes:</label>
                    <select class="form-control" id="txtmonth" name="txtmonth" >
                      <option value="01">Enero</option>
                      <option value="02">Febrero</option>
                      <option value="03">Marzo</option>
                      <option value="04">Abril</option>
                      <option value="05">Mayo</option>
                      <option value="06">Junio</option>
                      <option value="07">Julio</option>
                      <option value="08">Agosto</option>
                      <option value="09">Septiembre</option>
                      <option value="10">Octubre</option>
                      <option value="11">Noviembre</option>
                      <option value="12">Diciembre</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="año">Selecciona el Año:</label>
                    <select class="form-control" id="txtyear" name="txtyear">
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                      <option value="2024">2024</option>
                      <!-- Puedes añadir más opciones de años aquí -->
                    </select>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-10">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-default btn-block">
                    <i class="bi bi-search"></i> Buscar
                </button>
                </div>
              </div>
           </div>
         </div>
       </div>
    </div>
    </form>
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Reporte de Ingresos Mensual</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-6">
                        <label for="txtIng_efectivo" class="form-label">Efectivo:</label>
                        <input type="text"  class="form-control n_com" id="txtIng_efectivo" name="txtIng_efectivo" value = "L. {{ Suma.E }}" style="text-align: right;" readonly>
                      </div>
                      <div class="col-6">
                        <label for="txtIng_POS" class="form-label">POS:</label>
                        <input type="text" class="form-control n_com" id="txtIng_POS" name="txtIng_POS" value = "L. {{ Suma.POS }}" style="text-align: right;" readonly>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6">
                        <label for="txtIng_transferencia" class="form-label">Transferencia:</label>
                        <input type="text" class="form-control n_com" id="txtIng_transferencia" name="txtIng_transferencia" value="L. {{ Suma.T }}" style="text-align: right;" readonly>
                      </div>
                      <div class="col-6">
                        <label for="txtIng_fondo" class="form-label">Fondo:</label>
                        <input type="text" class="form-control n_com" id="txtIng_fondo" name="txtIng_fondo" value = "L. {{ Suma.F }}"style="text-align: right;" readonly>
                      </div>
                      
                  </div>
                  <div class="row">
                      <div class="col-6">
                        <label for="txtIng_abono" class="form-label">Abono:</label>
                        <input type="text" class="form-control n_com" id="txtIng_abono" name="txtIng_abono" value = "L. {{ Suma.A }}" style="text-align: right;" readonly>
                      </div>
                      <div class="col-6">
                        <label for="txtTotal" class="form-label">Total:</label>
                        <input type="text" class="form-control n_com" id="txtTotal" name="txtTotal" value = "L. {{ Suma_Total }}" style="text-align: right;" readonly>
                      </div>
                  </div>
              </div>
            </div>
          </div>
       </div>
       </div>

</section>
<script>
    $(document).ready(function(){


        function formatearNumeroConComas(numero) {
    return numero.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  // Función para ejecutar la formatearNumeroConComas() cuando la página se carga por primera vez
  function formatearNumerosIniciales() {
    $('.n_com').each(function() {
      var valor = $(this).val();
      $(this).val(formatearNumeroConComas(valor));
    });
  }

  // Ejecutar la función formatearNumerosIniciales al cargar la página
  formatearNumerosIniciales();
  document.getElementById("txtmonth").value = "{{ txtmonth }}";
  document.getElementById("txtyear").value = "{{ txtyear }}";
       });
</script>
{% endblock %}