{% extends 'base.html' %}
{% load static %}
{% block 'contenido' %}
<form action="form_reporte_diario" enctype="multipart/form-data" method="post">
  {% csrf_token %}
<section class="content-header">
 </section>
 <section class="content">
   <div class="container-fluid">
     <div class="row">
       <div class="col-12">
         <div class="card">
           <div class="card-header">
             <h3 class="card-title">Reporte de Ingresos Mensual</h3>
             <div class="card-tools">
               <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                 <i class="fas fa-minus"></i>
               </button>
               <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                 <i class="fas fa-times"></i>
               </button>
             </div>
           </div>
           <div class="card-body">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-1 col-form-label">Fecha:</label>
                <div class="col-sm-8">
                  <input type="date" class="form-control" id="fecha" name="fecha">
                </div>
                <div class="col-sm-3">
                <button type="submit" class="btn btn-default btn-block">
                  <i class="bi bi-search"></i> Buscar
                 </button>
                </div>
              </div>
           </div>
         </div>
       </div>
     </div>
    </div>
</section>
</form>

<div class="row">
  <div class="col-6">
    <label for="txt_compras" class="form-label">Disp. Compras:</label>
    <input type="text" class="form-control" id="txt_compras" placeholder="L 10,000.00" disabled required>
  </div>
  <div class="col-6">
    <label for="txt_fondo" class="form-label">Disp. Fondo:</label>
    <input type="text" class="form-control" id="txt_fondo" placeholder="L 5,250.00" disabled required>
  </div>
</div>
<div class="row">
    <div class="col-6">
      <label for="txtfecha" class="form-label">Fecha:</label>
      <input type="date" class="form-control" id="txtfecha" name="txtfecha" placeholder="Fecha" required>
    </div>
    <div class="col-6">
      <label for="txtIng_efectivo" class="form-label">Efectivo:</label>
      <input type="number" step="0.01" class="form-control" id="txtIng_efectivo" name="txtIng_efectivo" placeholder="Ingresa el monto"  required>
    </div>
</div>
<div class="row">
    <div class="col-6">
      <label for="txtIng_transferencia" class="form-label">Transferencia:</label>
      <input type="number" step="0.01" class="form-control" id="txtIng_transferencia" name="txtIng_transferencia" placeholder="Ingresa el monto"  required>
    </div>
    <div class="col-6">
      <label for="txtIng_POS" class="form-label">POS:</label>
      <input type="number" step="0.01" class="form-control" id="txtIng_POS" name="txtIng_POS" placeholder="Ingresa el monto"  required>
    </div>
</div>
<div class="row">
    <div class="col-6">
      <label for="txtIng_fondo" class="form-label">Fondo:</label>
      <input type="number" step="0.01" class="form-control" id="txtIng_fondo" name="txtIng_fondo" placeholder="Ingresa el monto"  required>
    </div>
    <div class="col-6">
      <label for="txtIng_abono" class="form-label">Abono:</label>
      <input type="number" step="0.01" class="form-control" id="txtIng_abono" name="txtIng_abono" placeholder="Ingresa el monto"  required>
    </div>
</div>
{% endblock %}